In [7]:
%pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/joelsng/.pyenv/versions/3.9.12/lib/python3.9/site-packages (2.9.11)
WARNING: You are using pip version 22.0.4; however, version 25.3 is available.
You should consider upgrading via the '/Users/joelsng/.pyenv/versions/3.9.12/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [32]:
import os
import csv
from typing import List, Dict
from google.oauth2 import service_account
from googleapiclient.discovery import build
import pandas as pd
import re
from datetime import datetime, time

In [9]:
CREDENTIALS_PATH = os.getenv(
    "GOOGLE_SHEETS_CREDENTIALS_PATH",
    "/Users/joelsng/Documents/GitHub/levelsliving-IMS/server/google_credentials.json",
)
SPREADSHEET_ID = os.getenv(
    "GOOGLE_SHEETS_SPREADSHEET_ID",
    "1ny7RVODq6twymuqxWZDzAV8w0jHJWjQT6TrnJl5VpII",
)
SHEET_NAME = "Orders"
RAW_PATH = os.path.join("tmp", "sheets_raw.csv")
CLEAN_PATH = os.path.join("tmp", "sheets_clean.csv")
ERRORS_PATH = os.path.join("tmp", "sheets_errors.csv")

In [10]:
# --- DB SCHEMA TARGET (minus order_id SERIAL) ---
TARGET_COLUMNS = [
    "shopify_order_id",  # BIGINT (nullable in DB)
    "order_date",        # TIMESTAMP NOT NULL
    "status",            # VARCHAR(32) NOT NULL
    "name",              # VARCHAR(64) NOT NULL
    "contact",           # VARCHAR(32) NOT NULL
    "street",            # VARCHAR(254) NOT NULL
    "unit",              # VARCHAR(32) NULL
    "postal_code",       # CHAR(6) NOT NULL
]

# Map from sheet headers (col_map keys) to DB target columns
SHEET_TO_TARGET = {
    "Shopify Order Id": "shopify_order_id",
    "Order Date": "order_date",
    "Delivered": "status",
    "Customer Name": "name",
    "Customer Contact": "contact",
    "Customer Street": "street",
    "Customer Unit": "unit",
    "Customer Postal Code": "postal_code",
}

# --- SHEET -> RAW COLUMN MAP (kept as you had it) ---
col_map = {
    "Shopify Order Id": "AB",
    "Order Date": "B",
    "Delivered": "R",
    "Customer Name": "C",
    "Customer Contact": "D",
    "Customer Street": "E",
    "Customer Unit": "F",
    "Customer Postal Code": "G",
    "SKU": "H",
    "Item": "I",
    "Variant": "J",
    "Quantity": "K",
    "Tag": "L",
    "Delivery Date": "N",
    "Delivery Time": "O",
    "Team": "Q",
    "Delivered": "R",
    "Custom": "W",
    "Remarks": "T",
    "Value": "Y",
}

In [11]:
scopes = ["https://www.googleapis.com/auth/spreadsheets.readonly"]
creds = service_account.Credentials.from_service_account_file(CREDENTIALS_PATH, scopes=scopes)
service = build("sheets", "v4", credentials=creds)

In [12]:
ranges = [f"{SHEET_NAME}!{col}:{col}" for col in col_map.values()]

resp = service.spreadsheets().values().batchGet(
    spreadsheetId=SPREADSHEET_ID,
    ranges=ranges,
    majorDimension="ROWS",
).execute()

In [13]:
# The API returns a list of ValueRanges in the same order
value_ranges = resp.get("valueRanges", [])

# Recombine them column-wise
# Each element in value_ranges[i]['values'] is a list of rows for that column
import itertools

cols_data = [vr.get("values", [[]]) for vr in value_ranges]
# Pad columns to same length
max_len = max(len(c) for c in cols_data)
cols_data = [c + [[]]*(max_len - len(c)) for c in cols_data]

# Transpose back to rows
rows = [list(itertools.chain.from_iterable(row)) for row in zip(*cols_data)]

print(f"Fetched {len(rows)} rows x {len(col_map)} cols")

Fetched 1275 rows x 19 cols

In [15]:
# Use your col_map keys as headers
headers = list(col_map.keys())

# Write to CSV
with open(RAW_PATH, "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(headers)
    writer.writerows(rows[1:])

print(f"Saved {len(rows)} rows × {len(headers)} cols to {RAW_PATH}")

Saved 1275 rows × 19 cols to tmp/sheets_raw.csv

# Performing data validation

In [16]:
INT64_MAX = 9223372036854775807

In [17]:

df = pd.read_csv(RAW_PATH, dtype=str).fillna("")
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df.head()

/var/folders/tk/ptln5ljx66g1yqhg_dd36_200000gn/T/ipykernel_95692/4112481585.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

,Shopify Order Id,Order Date,Delivered,Customer Name,Customer Contact,Customer Street,Customer Unit,Customer Postal Code,SKU,Item,Variant,Quantity,Tag,Delivery Date,Delivery Time,Team,Custom,Remarks,Value
0,6779551088862,2025-10-10T13:08:43+08:00,TRUE,Yang -,+6597418736,220C Bedok Central,17-34,463220,B16LD,Storage Bedframe (No headboard),Servicing,1,24 Oct 2025,Servicing,775.28,,,,
1,6198826696926,2024-12-27T12:38:47+08:00,TRUE,Adeline Ng,+6597972142,246 Kim Keat Link,05-01,310246,DC1606/RusticWH,Verona 1.6m 3x2 Dresser Sideboard,Assembly,1,"Private, Store",9 Jul 2025,1 PM - 5 PM,Team A,Hold Delivery PO34A Regular - Ready,773,
2,6198826696926,2024-12-27T12:38:47+08:00,TRUE,Adeline Ng,+6597972142,246 Kim Keat Link,05-01,310246,DC8036/RusticWH,Union 80cm Chest of 6 Drawers,Assembly,1,"Private, Store",9 Jul 2025,1 PM - 5 PM,Team A,Hold Delivery PO34A Regular - Ready,,
3,6241396195550,2025-01-28T15:26:02+08:00,TRUE,Mario Morales,+6596952066,232 Lorong 8 Toa Payoh,10-236,310232,CTM10909,Custom Furniture,Custom,1,Store,14 Aug 2025,1 PM - 5 PM,Team A,size: w500 x d350 x h1650 (without legs) color...,PO35B Custom - Ready,
4,6241396195550,2025-01-28T15:26:02+08:00,TRUE,Mario Morales,+6596952066,232 Lorong 8 Toa Payoh,10-236,310232,CTM10909,Custom Furniture,Custom,1,Store,14 Aug 2025,1 PM - 5 PM,Team A,size: w x d x h (without legs) color: rustic b...,PO35B Custom - Ready,

In [18]:
df_t = df[list(SHEET_TO_TARGET)].rename(columns=SHEET_TO_TARGET)
df_t.head()

,shopify_order_id,order_date,status,name,contact,street,unit,postal_code
0,6779551088862,2025-10-10T13:08:43+08:00,TRUE,Yang -,+6597418736,220C Bedok Central,17-34,463220
1,6198826696926,2024-12-27T12:38:47+08:00,TRUE,Adeline Ng,+6597972142,246 Kim Keat Link,05-01,310246
2,6198826696926,2024-12-27T12:38:47+08:00,TRUE,Adeline Ng,+6597972142,246 Kim Keat Link,05-01,310246
3,6241396195550,2025-01-28T15:26:02+08:00,TRUE,Mario Morales,+6596952066,232 Lorong 8 Toa Payoh,10-236,310232
4,6241396195550,2025-01-28T15:26:02+08:00,TRUE,Mario Morales,+6596952066,232 Lorong 8 Toa Payoh,10-236,310232

In [19]:
def coerce_bigint_nullable(s):
    """
    Coerces data field into being in valid big integer range
    """
    if s == "" or s.lower() in {"na", "null", "none"}:
        return None, None
    if not re.fullmatch(r"[+-]?\d+", s):
        return s, "shopify_order_id: not a valid integer"
    val = int(s)
    if not (-INT64_MAX - 1 <= val <= INT64_MAX):
        return s, "shopify_order_id: out of 64-bit range"
    return val, None

def coerce_timestamp_not_null(s):
    """
    Coerces data field into being in valid timestamp format
    """
    if s == "":
        return None, "order_date: required (NOT NULL)"
    ts = pd.to_datetime(s, errors="coerce")
    if pd.isna(ts):
        return None, f"order_date: invalid datetime '{s}'"
    ts = ts.to_pydatetime().replace(microsecond=0)
    return ts.isoformat(sep=" "), None

def check_len_not_null(s, col, maxlen):
    """
    Checks if a non nullable data field is valid length
    """
    if s == "":
        return None, f"{col}: required (NOT NULL)"
    if len(s) > maxlen:
        return s, f"{col}: exceeds max length {maxlen}"
    return s, None

def check_len_nullable(s, col, maxlen):
    """
    Checks if a nullable data field is valid length
    """
    if s == "":
        return None, None
    if len(s) > maxlen:
        return s, f"{col}: exceeds max length {maxlen}"
    return s, None

def coerce_postal_code(s):
    """
    Coerces a data field into being a valid postal code
    """
    if s == "":
        return None, "postal_code: required (NOT NULL)"
    digits = re.sub(r"\D", "", s)
    if len(digits) < 6 and s.isdigit():
        digits = digits.zfill(6)
    if not re.fullmatch(r"\d{6}", digits):
        return s, "postal_code: must be exactly 6 digits"
    return digits, None

In [20]:
clean_rows = []
errors_rows = []
seen_keys = set()

In [21]:
for idx, row in df_t.iterrows():
    out = {}
    errs = []

    val, err = coerce_bigint_nullable(row["shopify_order_id"])
    out["shopify_order_id"] = val;  errs += ([err] if err else [])

    val, err = coerce_timestamp_not_null(row["order_date"])
    out["order_date"] = val;        errs += ([err] if err else [])

    val, err = check_len_not_null(row["status"], "status", 32)
    out["status"] = val if err is None else row["status"]; errs += ([err] if err else [])

    val, err = check_len_not_null(row["name"], "name", 64)
    out["name"] = val if err is None else row["name"];     errs += ([err] if err else [])

    val, err = check_len_not_null(row["contact"], "contact", 32)
    out["contact"] = val if err is None else row["contact"]; errs += ([err] if err else [])

    val, err = check_len_not_null(row["street"], "street", 254)
    out["street"] = val if err is None else row["street"]; errs += ([err] if err else [])

    val, err = check_len_nullable(row["unit"], "unit", 32)
    out["unit"] = val if err is None else row["unit"];     errs += ([err] if err else [])

    val, err = coerce_postal_code(row["postal_code"])
    out["postal_code"] = val if err is None else row["postal_code"]; errs += ([err] if err else [])

    if not errs and out["shopify_order_id"] is not None and out["order_date"] is not None:
        key = (out["shopify_order_id"], out["order_date"])
        if key in seen_keys:
            # duplicate -> skip this row entirely (no error, no clean record)
            continue
        else:
            seen_keys.add(key)
    
    if errs:
        errors_rows.append({**row.to_dict(), "errors": "; ".join(errs), "source_index": idx})
    else:
        clean_rows.append([out[c] for c in TARGET_COLUMNS])

In [22]:
clean_df  = pd.DataFrame(clean_rows, columns=TARGET_COLUMNS)
errors_df = pd.DataFrame(errors_rows)
clean_df.to_csv(CLEAN_PATH, index=False)
errors_df.to_csv(ERRORS_PATH, index=False)

print(f"Clean rows:  {len(clean_df)}  → {CLEAN_PATH}")
print(f"Error rows: {len(errors_df)}  → {ERRORS_PATH}")

clean_df.head()

Clean rows:  506  → tmp/sheets_clean.csv
Error rows: 367  → tmp/sheets_errors.csv

,shopify_order_id,order_date,status,name,contact,street,unit,postal_code
0,6779551088862,2025-10-10 13:08:43+08:00,TRUE,Yang -,+6597418736,220C Bedok Central,17-34,463220
1,6198826696926,2024-12-27 12:38:47+08:00,TRUE,Adeline Ng,+6597972142,246 Kim Keat Link,05-01,310246
2,6241396195550,2025-01-28 15:26:02+08:00,TRUE,Mario Morales,+6596952066,232 Lorong 8 Toa Payoh,10-236,310232
3,6357103673566,2025-04-06 13:15:30+08:00,TRUE,Alice Ho,+6591822668,669 Edgefield Plains,10-658,821669
4,6385105141982,2025-04-18 14:47:50+08:00,TRUE,Lynn,+6596435929,119C Kim Tian Road,18-224,163119

# Load data into pgsql container

In [23]:
import psycopg2, textwrap, pathlib

In [24]:
DATABASE_URL = (
    os.getenv("DATABASE_URL") or
    "postgresql://postgres:password@localhost:5432/levelsliving"
)

In [25]:
TABLE_NAME = "order"

copy_sql = f"""
COPY "{TABLE_NAME}" ({", ".join(TARGET_COLUMNS)})
FROM STDIN WITH (FORMAT CSV, HEADER TRUE, NULL '');
"""

In [26]:
# Basic sanity check: ensure CSV header matches the TARGET_COLUMNS expected
with open(CLEAN_PATH, "r", encoding="utf-8") as f:
    reader = csv.reader(f)
    header = next(reader)
    if header != TARGET_COLUMNS:
        raise ValueError(
            "CSV header mismatch.\n"
            f"Expected: {TARGET_COLUMNS}\n"
            f"Found:    {header}\n"
            "Make sure you wrote sheets_clean.csv with exactly these columns in this order."
        )

In [27]:
# Count rows (minus header) for a quick confirmation
total_rows = sum(1 for _ in open(CLEAN_PATH, "r", encoding="utf-8")) - 1

In [28]:
conn = psycopg2.connect(DATABASE_URL)
conn.autocommit = False

try:
    with conn.cursor() as cur:
        with open(CLEAN_PATH, "r", encoding="utf-8") as f:
            cur.copy_expert(copy_sql, f)
    conn.commit()
    print(f"Loaded {total_rows} rows from {CLEAN_PATH} into '{TABLE_NAME}'.")
except Exception as e:
    conn.rollback()
    raise
finally:
    conn.close()

Loaded 506 rows from tmp/sheets_clean.csv into 'order'.

# Create rows of Order Items

In [29]:
# --- Load sheet data ---
df = pd.read_csv(RAW_PATH, dtype=str).fillna("")
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

/var/folders/tk/ptln5ljx66g1yqhg_dd36_200000gn/T/ipykernel_95692/2090350726.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [30]:
# --- Parse fields into appropriate columns for order_item table ---
def parse_bool(x):
    if isinstance(x, str):
        x = x.strip().lower()
        if x in {"true", "yes", "y", "1"}:
            return True
        elif x in {"false", "no", "n", "0"}:
            return False
    return False

def parse_date(x):
    try:
        return pd.to_datetime(x, errors="coerce").date()
    except Exception:
        return None

def parse_time(x):
    """Parse time like '1 PM - 5 PM' → start time (13:00:00)"""
    if not x:
        return None
    m = re.search(r"(\d{1,2})(?:[:.](\d{2}))?\s*(AM|PM)", x, re.IGNORECASE)
    if not m:
        return None
    hour = int(m.group(1))
    minute = int(m.group(2) or 0)
    ampm = m.group(3).upper()
    if ampm == "PM" and hour != 12:
        hour += 12
    if ampm == "AM" and hour == 12:
        hour = 0
    return time(hour, minute)

In [33]:

# Create new DataFrame
order_item_df = pd.DataFrame({
    "shopify_order_id": df["Shopify Order Id"],
    "order_date": df["Order Date"],
    "item_sku": df["SKU"],
    "item_name": df["Item"],
    "variant": df["Variant"],
    "qty_requested": pd.to_numeric(df["Quantity"], errors="coerce").fillna(0).astype(int),
    "tag": df["Tag"].apply(lambda x: [t.strip() for t in x.split(",") if t.strip()] if x else []),
    "delivery_date": df["Delivery Date"].apply(parse_date),
    "delivery_time": df["Delivery Time"].apply(parse_time),
    "team_assigned": df["Team"],
    "delivered": df["Delivered"].apply(parse_bool),
    "custom": df["Custom"],
    "remarks": df["Remarks"],
    "value": pd.to_numeric(df["Value"], errors="coerce").fillna(0.0).round(2),
})

In [34]:
# --- Show a preview ---
order_item_df.head(5)

,shopify_order_id,order_date,item_sku,item_name,variant,qty_requested,tag,delivery_date,delivery_time,team_assigned,delivered,custom,remarks,value
0,6779551088862,2025-10-10T13:08:43+08:00,B16LD,Storage Bedframe (No headboard),Servicing,1,[24 Oct 2025],NaT,None,,True,,,0.0
1,6198826696926,2024-12-27T12:38:47+08:00,DC1606/RusticWH,Verona 1.6m 3x2 Dresser Sideboard,Assembly,1,"[Private, Store]",2025-07-09,13:00:00,Team A,True,Hold Delivery PO34A Regular - Ready,773,0.0
2,6198826696926,2024-12-27T12:38:47+08:00,DC8036/RusticWH,Union 80cm Chest of 6 Drawers,Assembly,1,"[Private, Store]",2025-07-09,13:00:00,Team A,True,Hold Delivery PO34A Regular - Ready,,0.0
3,6241396195550,2025-01-28T15:26:02+08:00,CTM10909,Custom Furniture,Custom,1,[Store],2025-08-14,13:00:00,Team A,True,size: w500 x d350 x h1650 (without legs) color...,PO35B Custom - Ready,0.0
4,6241396195550,2025-01-28T15:26:02+08:00,CTM10909,Custom Furniture,Custom,1,[Store],2025-08-14,13:00:00,Team A,True,size: w x d x h (without legs) color: rustic b...,PO35B Custom - Ready,0.0